* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

body{
	margin:50px;
	background:#eeeeee;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
}
#article{
	width: 100%;
	max-width: 650px;
	margin:0 auto;
}
img{
	display:inline-block;
	width:320px;
}
#onePage img{
	width: 650px;
}

@media only screen and (max-width: 600px) {
	* {
		padding:0;
		margin:0;
		vertical-align:baseline;
		list-style:none;
		border:0
		}
	body{
		margin:0%;
		width: 100%;
	}
	#article{
		width: 100%;
		max-width: 100%;
		margin:0 auto;
		width: 100%;
	}
	img{
		display:inline-block;
		width:320px;
		width: 100%;
	}
	#onePage img{
		width: 650px;
		width: 100%;
	}
}